@import "tailwindcss";

@layer base {
  :root {
    --red: #ff0000;
    --blue: #000066;
    --white: #fffcfc;
    --black: #04040d;
    --grey: #48486b;
    --darkBlue: #00002b;
    --darkGrey: #c0c0cc;
  }
}

@font-face {
  font-family: "title";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "body";
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "number";
  src: url("./assets/fonts/Anton-Regular.ttf");
  font-display: swap;
}

body {
  background-color: #fffcfc;
  color: #04040d;
}
